* {
  margin: 0px;
  font-family: 'Lato', sans-serif;
  ;
}

/* Header And Banner */
header {
  background-color: #ffe2e9;
  display: flex;
  align-items: center;
  background-blend-mode: multiply;
  justify-content: space-between;
  height: 100vh;



}

.banner-left {
  padding: 140px 97px 120px 170px;
  width: 50%;

}

.banner-title {
  font-size: 50px;
  font-weight: 700;

}

.primary-para {
  color: #7c7778;
  font-size: 300;
  font-style: normal;
  margin: 20px 0px 20px 0px;
}

.banner-image {
  margin: 50px 170px 0px 0px;
  transform: scaleX(-1);


}

.primary-button {
  border: 0px;
  padding: 20px 43px;
  background-color: #E55473;
  border-radius: 5px;
  font-size: 20px;
  color: white;
  box-shadow: 0px 10px 16px -6px rgba(0, 0, 0, 0.47);

}